$textColor: rgb(85, 146, 182);
$primaryBtn: rgb(45, 51, 138);
$mainColor: rgba(35, 42, 138, 0.705);
%boxShadow {
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.5);
}
%borderBlack {
    border:1px solid black;
}
%button {
    background-color:$primaryBtn;
    border-radius:5px;
}
body{
    margin:20px;
    background-color: $mainColor;
}
nav {
    li {
        @extend %boxShadow;
        @extend %button;
        display:inline-block;
        padding:20px;
        a {
            color: $textColor;
            &:hover {
                text-decoration:none;
                color: white;
            }
        }
    }
}
table {
    @extend %borderBlack;
    margin:225px 0;
    position:relative;
    left:32%;
    th, tr, td {
        @extend %borderBlack;
        padding:20px;
    }
    tr:nth-child(even) {
        background:royalblue;
    }
}
form {
    margin:50px;
    }
    button {
        @extend %button;
        padding:10px 80px;
        color: white;
        &:hover{
            @extend %boxShadow;
    }    
}
.element__space--color{
padding:10px;
margin-top:20px;
}
textarea{
    resize:none;
}
input {
    width:350px;
    border: 2px solid white;
}
label{
    &::after{
        content:" *";
        font-size: 25px;
    }
}
input:focus {
    &:valid {
        border: 2px solid green;
    }
    &:invalid {
        border: 2px solid red;
    } 

}
.wrapper-slideshow {
    padding: 25px 100px 100px 100px;
    border-radius: 25px;
    width: 1500px;
    margin: 50px 50px 50px 100px;
    text-align: center;
}
.slidershow {
    width: 700px;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    font-size: 10px;
    border: 2px solid #000;
    @extend %boxShadow;
}

.middle {
    position: relative;
    top: 50%;
    height: 500px;
    width: 900px;
    margin: 0 auto;
}
/* ++++++ FLEX ++++++ */
.navigation {
    position: relative;
    bottom: 50px;
    left: 82%;
    transform: translateX(-50%);
    display: flex;
}

.slideshow-text {
    font-size: 16px;
    max-width: 50%;
    position: relative;
    bottom: 20%;
    transform: translateY(-200%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem 2rem;
    &::before{
        font-family: 'Berkshire Swash', cursive;
        color: $textColor;
        font-size:35px;
        content: "L";
    }
}
.slideshow-title {
    font-size: 26px;
    max-width: 50%;
    position: relative;
    bottom: 76%;
    transform: translateY(-200%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem 2rem;
}
.bar {
    width: 50px;
    height: 10px;
    border: 2px solid $primaryBtn;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
        background: #fff;
    }
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -20%;
}

#r3:checked ~ .s1 {
    margin-left: -40%;
}

#r4:checked ~ .s1 {
    margin-left: -60%;
}

#r5:checked ~ .s1 {
    margin-left: -80%;
}